<div class="patient-edit-container">
  <h2>Edit Patient Details</h2>
  <div *ngIf="patientForm">
    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">

      <div class="e-float-input e-control-wrapper">
        <ejs-textbox placeholder="ID"  [formControlName]="'Id'" floatLabelType="Auto"></ejs-textbox>
      </div>

      <div class="e-float-input e-control-wrapper">
        <ejs-textbox placeholder="Name"  [formControlName]="'Name'" floatLabelType="Auto"></ejs-textbox>
        <div *ngIf="patientForm.get('Name')?.invalid && patientForm.get('Name')?.touched" class="e-error">
          Name is required.
        </div>
      </div>

      <div class="e-float-input e-control-wrapper">
        <ejs-dropdownlist [dataSource]="statusData" placeholder="Status"  [formControlName]="'Status'"
                          floatLabelType="Auto">
        </ejs-dropdownlist>
      </div>

      <div class="e-float-input e-control-wrapper">
        <ejs-dropdownlist [dataSource]="patientStatusData" placeholder="Patient Status"
                          [formControlName]="'PatientStatus'" floatLabelType="Auto">
        </ejs-dropdownlist>
      </div>

      <div class="e-float-input e-control-wrapper">
        <ejs-dropdownlist [dataSource]="priorityData" placeholder="Priority"  [formControlName]="'Priority'"
                          floatLabelType="Auto">
        </ejs-dropdownlist>
      </div>

      <div class="e-float-input e-control-wrapper">
        <ejs-dropdownlist [dataSource]="doctorData" placeholder="Doctor"  [formControlName]="'Doctor'"
                          floatLabelType="Auto">
        </ejs-dropdownlist>
      </div>

      <div class="e-float-input e-control-wrapper">
        <ejs-textbox placeholder="Bed"  [formControlName]="'Bed'" floatLabelType="Auto"></ejs-textbox>
      </div>
      <div class="records">
        <ejs-grid [dataSource]='recordsData' (actionBegin)="beforePaste($event)" [editSettings]='recordsEditSettings'
                  [toolbar]='toolbar' height='150px'>
          <e-columns>
            <e-column field='Id' headerText='Id'  [edit] ='numericParams' [allowEditing]='false' [validationRules]='orderIDRules'
                      isPrimaryKey='true' [validationRules]='orderIDRules' editType= 'numericedit' width=70>
            </e-column>
            <e-column field='Record' headerText='Record' [validationRules]='customerIDRules' width=120></e-column>
            <e-column field='UpdateAt'  [allowEditing]='false' headerText='Update at' width=120></e-column>
          </e-columns>
        </ejs-grid>
      </div>

      <div class="e-float-input e-control-wrapper">
        <ejs-textbox placeholder="Summary"  [formControlName]="'Summary'" floatLabelType="Auto" multiline="true"
                     rows="2">
        </ejs-textbox>
      </div>
      <ejs-textbox placeholder="Log"  [value]="statusTracking|json" [enabled]="false" floatLabelType="Auto" multiline="true"
                   rows="4">
      </ejs-textbox>
      <button type="submit" [disabled]="!patientForm.valid" ejs-button cssClass="e-flat" content="OK"></button>
    </form>

  </div>

</div>
