$color-primary: #007bff;
$color-red: #ff0000;
$input-bg-color: #f8f8f8;
$input-border-color: #ccc;
$input-focus-color: #007bff;
$input-text-color: #333;
$input-placeholder-color: #888;
$border-radius: 8px;
$transition-speed: 0.3s;
$green-btn :#4CAF50;
$green-dark-btn :#45a049;
$green-darker-btn :#3e8e41;
