<div id="dialog-container">
  <ejs-dialog id='dialog' [position]="position" [visible]="false" #ejDialog target="#dialog-container" [showCloseIcon]='true' content='This is a Dialog content'>
    <ng-template #header>
      <div title="Nancy" class="e-icon-settings dlg-template"> {{ entity().data?.Name }} </div>
    </ng-template>
    <ng-template #footerTemplate>

    </ng-template>
    <ng-template #content>
      <div class="dialogContent">
        @if (entity().type==='Patient'){
          <app-patient [patientData]="entity().data"></app-patient>
        }
      </div>
    </ng-template>

  </ejs-dialog>
</div>`

<app-appbarmenu></app-appbarmenu>
<router-outlet></router-outlet>
