.dashboard-component{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .chart{
    width: 300px;
    height: 300px;
  }
  .info{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: monospace;
    color: deeppink;
    flex: 1;
    margin-top: 135px;

  }
}
