<div class="dashboard-component">
  <div class="chart">
    <app-donut-chart [title]="'Patient Status'"  [data]="patientStatusData"  [id]="'a'"></app-donut-chart>
  </div>
  <div class="chart">
    <app-donut-chart [title]="'Departments capacity'" [data]="departmentCapacityData" [id]="'b'"></app-donut-chart>
  </div>
  <div class="chart">
    <app-donut-chart [title]="'Priority'" [data]="priorityData" [id]="'c'"></app-donut-chart>
  </div>
  <div class="info"> Average Waiting time status (per patient): {{averageWaiting}}sec</div>
  <div class="info"> Average Treatment time status (per patient): {{averageInTreatment}}sec</div>

</div>

